# Ignore compiled class files
*.class

# Ignore log files
*.log

# Ignore BlueJ files
*.ctxt

# Ignore Mobile Tools for Java (J2ME)
.mtj.tmp/

# Ignore package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ignore virtual machine crash logs
hs_err_pid*
replay_pid*

# Ignore  project files
*.properties

# Ignore Maven target directory
/target/

# Properties files containing secrets or local overrides
application-local.properties
application-prod.properties
/secrets/
*.secret

./src/main/resources/application.properties

./src/test/java